        <section id="faq" class="ptb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-12 col-lg-12">
                        <div id="accordion" class="accordion faq-wrap">
                            <div class="card mb-3">
                                <a class="card-header" data-toggle="collapse" href="#collapse0" aria-expanded="false">
                                    <h6 class="mb-0 d-inline-block">Is this free?</h6>
                                </a>
                                <div id="collapse0" class="collapse show" data-parent="#accordion" style="">
                                    <div class="card-body white-bg">
                                        <p>Yes, uploading and downloading is 100% Free for all users. We offer premium accounts which allows for greater flexibility with uploading/downloading.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card my-3">
                                <a class="card-header collapsed" data-toggle="collapse" href="#collapse1" aria-expanded="false">
                                    <h6 class="mb-0 d-inline-block">Will my files be removed?</h6>
                                </a>
                                <div id="collapse1" class="collapse " data-parent="#accordion" style="">
                                    <div class="card-body white-bg">
                                        <p>Free end non accounts files are kept for 60 days. Premium accounts files are kept for unlimited days.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card my-3">
                                <a class="card-header collapsed" data-toggle="collapse" href="#collapse2" aria-expanded="false">
                                    <h6 class="mb-0 d-inline-block">How many files can I upload?</h6>
                                </a>
                                <div id="collapse2" class="collapse " data-parent="#accordion" style="">
                                    <div class="card-body white-bg">
                                        <p>You can upload as many files as you want, as long as each one adheres to the Terms of Service and the maximum file upload size.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card mt-3">
                                <a class="card-header collapsed" data-toggle="collapse" href="#collapse3" aria-expanded="false">
                                    <h6 class="mb-0 d-inline-block">Which files types am I allowed to upload?</h6>
                                </a>
                                <div id="collapse3" class="collapse " data-parent="#accordion" style="">
                                    <div class="card-body white-bg">
                                        <p>You may upload the following types of files: Any.</p>
                                    </div>
                                </div>
                            </div>
							<div class="card mt-3">
                                <a class="card-header collapsed" data-toggle="collapse" href="#collapse4" aria-expanded="false">
                                    <h6 class="mb-0 d-inline-block">Are there any restrictions to the size of my uploaded files?</h6>
                                </a>
                                <div id="collapse4" class="collapse " data-parent="#accordion" style="">
                                    <div class="card-body white-bg">
                                        <p>Each file you upload must be less than 10 MB in size for free/non accounts or less than 1 GB in size for premium accounts. If it is greater than that amount, your file will be rejected.</p>
                                    </div>
                                </div>
                            </div>
							<div class="card mt-3">
                                <a class="card-header collapsed" data-toggle="collapse" href="#collapse5" aria-expanded="false">
                                    <h6 class="mb-0 d-inline-block">Can I upload music or videos?</h6>
                                </a>
                                <div id="collapse5" class="collapse " data-parent="#accordion" style="">
                                    <div class="card-body white-bg">
                                        <p>Yes. Music and video hosting is permitted as long as you own the copyright on the content and it adheres to the terms and conditions.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>